BasedOnStyle: LLVM

IndentWidth: 8
UseTab: Always
IndentCaseLabels: false

AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: Always

SortIncludes: false

ColumnLimit: 0

LineEnding: LF

BreakAfterReturnType: AllDefinitions

AllowShortIfStatementsOnASingleLine: Never
